:root {
  --fon-color: #C2CBBF;
  --text-color: #343634;
  --active-color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Noto Serif', serif;
  background-color: var(--fon-color);
}

.title {
  margin: 4vh 0;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: var(--text-color);
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 400%;
  transition: all ease 0.5s;
}

.slide {
  width: 25%;
  transition: all ease 0.5s;
}

.slide img {
  width: 100%;
  /* height: 100%; */
}

.under-wrapper {
  display: flex;
  justify-content: space-between;
}

.caption-wrapper {
  max-width: 500px;
  overflow: hidden;
}

.caption-slider {
  display: flex;
  width: 400%;
  transition: all ease 0.5s;
}

.caption p {
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

.active {
  display: flex;
  align-items: center;
}

.active label {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  border: 3px solid var(--text-color);
  border-radius: 50%;
  background-color: var(--text-color);
  cursor: pointer;
  transition: all ease 0.5s;
}

.active label:before {
  display: block;
  content: '';
  width: 170%;
  height: 170%;
}

.active label:hover {
  background-color: var(--active-color);
}

#rb1:checked ~ .active label:nth-child(1) {
  background-color: var(--fon-color) !important;
}

input[name="rb"] {
  display: none;
  visibility: hidden;
}

#rb1:checked ~ .s1 {
  margin-left: 0%;
}

#rb2:checked ~ .s1 {
  margin-left: -25%;
}

#rb3:checked ~ .s1 {
  margin-left: -50%;
}

#rb4:checked ~ .s1 {
  margin-left: -75%;
}